<div class="col-md-8" id='post' style="border-radius:5px; border-style:inset; border-width: 4px;margin-bottom:15;">
    <h4>Post ID: {{id}}</h4>
<a href="/post/{{id}}" id="posttitle">
 <h3>{{title}}</h3>
 </a>
 <p>{{body}}</p>
 <p>Posted by :<strong>{{post.user.username}}</strong></p>
 <p>Posted at :{{format_date createdAt}}</p>
 <div id="comments" style="border-radius:5px; border-style:inset; border-width: 4px;margin-bottom:15; align-content:center;">
<p>Comments:</p>
{{#each comments as |comment|}}
 {{>comment comment}}
 {{/each }}
 </div>
</div>
<article>
<form  method="POST" action="/api/comment">
    <div class="input-field">
        <label>Comment: </label>
        <textarea type="text" name="body" placeholder="Whats your opinion?" cols="30" rows="5"></textarea>
     </div>   
    <input type="hidden" name="comment-id" value={{id}}>
    <button type="submit">Add Comment</button>
    
</form>
</article>